/* top search bar section */
.icon{
      text-align: right;
  }
.logo{

    text-align: left;
}
.search, h1{
    text-align: center;
}

  /* visited link */
a:visited {
    color: green;
  }
  /* mouse over link */
  a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
  }

/*    form input section  */
#theSubmitButton {
    margin: 5px 5px 5px 5px;
    padding: 15px 32px;
    text-align: center;
    font-size: 17px;
    display: inline-block;
}